#markdown-toc {
    display: none;
}

.page[post] {
    color: #5c6370; // [devman] 2017.12.20
    a {
        color: #4d78cc;
        transition: 0.5s ease;
        &:hover {
            color: #fff;
        }
    }

    .label {
        padding: 0;
        margin-top: 15px;
        overflow: hidden;
        line-height: 1.8;

        .label-card {
            float: left;
            margin-right: 15px;

            i {
                padding-right: 0px;
                margin-right: 3px;
                color: #5c6370; // [devman] 2017.12.19
            }
            .point {
                padding: 0 10px;
                color: #9d9d9d;
            }
        }

        .categories {
            padding: 0;
        }
    }

    .post-recent {
        margin-top: 10px;
    }

    /*
    .left {
        ul {
            >h2 {
                color: #333;
            }
            li {
                color: #333;
                margin: 0;
            }
        }
        // .post-recent {
        //     width: 100%;
        //     overflow: hidden;
        //     padding: 4px;
        //     .pre{
        //         width: 49%;
        //         float: left;
        //     }
        //     .nex{
        //         width: 49%;
        //         float: right;
        //         text-align: right;
        //     }
        //     p {
        //         min-height: 70px;
        //         box-sizing: border-box;
        //         padding: 10px;
        //         background-color: #fff;
        //         box-shadow: 0 0 4px 0px rgba(0,0,0,0.15);
        //     }
        // }
    }*/
}
@media screen and (max-width: 770px) {
    .page[post] {
        .left {
            font-size: 15px;
            h2 {
                font-size: 24px;
            }
            h3 {
                font-size: 20px;
            }
            h4 {
                font-size: 18px;
            }
            h5 {
                font-size: 16px;
            }
            h6 {
                font-size: 15px;
            }
        }
    }
}
